<ng-container class="container-card">
  <div id="class-header" class="card-header">
    <span>{{card.name}}</span>
  </div>

  <div class="card-body">
    <span>{{card.description}}</span>
  </div>

  <div class="card-footer">
    <button
      (click)="editCard()" class="card-button"
      [style]="{background: 'lightblue'}"
    >
      ✏️
    </button>

    <button
      (click)="deleteCard()" class="card-button"
      [style]="{background: '#411414'}"
    >
      ❌
    </button>
  </div>
</ng-container>
