.card-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid grey;
  padding: 8px 12px;
  background: lightgoldenrodyellow;
}

.card-body {
  padding: 8px 12px;
  text-align: justify;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 12px;
}

.card-button {
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  margin-left: 8px;
  padding: 8px;
}
