.input-container {
  display: flex;
  align-items: center;
  margin: 16px auto;
}

.input-elem {
  margin: 0 5px;
  height: 24px;
  padding: 5px 10px;
  border-radius: 10px;
}

.button-elem {
  background: greenyellow;
  height: 100%;
}
