<div *ngIf="active" class="modal-container">
  <form class="modal-form">


    <input
      value="{{newCard.name}}"
      (change)="changeCardName($event)"
      class="modal-input modal-elem"
    />

    <textarea
      class="modal-input modal-elem"
      (change)="changeCardDescription($event)"
    >{{newCard.description}}</textarea>

    <div class="modal-button-container">
      <button
        class="modal-elem modal-button"
        [style]="{background: 'lightgreen'}"
        (click)="saveCardUpdate()"
        (keyup.enter)="saveCardUpdate()"
      >
        💾️
      </button>
      <button
        class="modal-elem modal-button"
        [style]="{background: '#411414'}"
        (click)="cancelCardUpdate()"
        (keyup.escape)="cancelCardUpdate()"
      >
        ❌
      </button>
    </div>
  </form>
</div>
